{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Django ecommerence website<br></h1>
                    <p class="lead fw-normal text-white-50 mb-0">By a junior web developer(Which is me) Qazal Naderi<br>
                      Hope you guys like it.
                    </p>
                </div>
            </div>
        </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                </div>
            </center>
        </div>
    </div>

{% endblock %}